doctype html
html(lang="en")
  head
    title "Coffee Advisor"
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#5D4037")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="styles/main.css")
    script(src="/bower_components/modernizr/modernizr.js")

  body
    aside.toast-view

    include views/component/nav-header

    button#add-button.btn.btn-circle.btn-default(type='button', data-toggle='modal', data-target='#newLocationModal')
      span.glyphicon.glyphicon-plus

    #map

    include views/modal.pug
    include views/scripts.pug
