#add-button{
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  background: $accent-color;
  color: $primary-color-text;
}

.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  min-width: 56px;
}
