#newLocationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='locationModal')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Fechar')
          span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Sinalizar cafeteria existente
      .modal-body
        include component/new-location
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
        button#saveLocation.btn.btn-primary(type='button') Salvar
